<div class="card">
  <h3>Iniciar Sesión</h3>
  
  <!-- Formulario de login tradicional -->
  <form (ngSubmit)="onLogin()">
    <div class="form-group">
      <label for="loginUsername">Usuario</label>
      <input type="text" id="loginUsername" [(ngModel)]="loginUsername" name="loginUsername" required>
    </div>
    <div class="form-group">
      <label for="password">Contraseña</label>
      <input type="password" id="loginPassword" [(ngModel)]="loginPassword" name="loginPassword" required>
    </div>

    <!-- Mensaje de error de login -->
    <div *ngIf="loginErrorMessage" class="error">
      <p>{{ loginErrorMessage }}</p>
    </div>

    <button type="submit" class="login-btn">Entrar</button>
  </form>

  <!-- Separador -->
  <div class="separator">
    <span>o</span>
  </div>

  <!-- Botón de Google -->
  <div class="google-btn-container">
    <div id="g_id_onload"
         data-client_id="515490790930-eajv7nc5pn355hlg5tqree5p40jvc64v.apps.googleusercontent.com"
         data-context="signin"
         data-callback="handleCredentialResponse">
    </div>
    <div class="g_id_signin"
         data-type="standard"
         data-size="large"
         data-theme="outline"
         data-text="signin_with"
         data-shape="rectangular"
         data-width="250">
    </div>
  </div>
 
</div>