<form (ngSubmit)="onLogin()">
  <div class="form-floating mb-3">
    <input type="email" class="form-control" id="loginUsername" 
           [(ngModel)]="loginUsername" name="loginUsername" placeholder="name@example.com" required>
    <label for="loginUsername">Email</label>
  </div>

  <div class="form-floating mb-3">
    <input type="password" class="form-control" id="loginPassword" 
           [(ngModel)]="loginPassword" name="loginPassword" placeholder="Password" required>
    <label for="loginPassword">Contraseña</label>
  </div>

  <div *ngIf="loginErrorMessage" class="alert alert-danger mb-3">
    {{ loginErrorMessage }}
  </div>

  <div class="d-grid gap-2">
    <button type="submit" class="btn btn-primary btn-lg">
      Iniciar Sesión
    </button>
  </div>
<!-- Separador -->
<div class="separator">
  <span>o</span>
</div>
  <!-- Botón de Google -->
  <div class="google-btn-container">
    <div id="g_id_onload"
         data-client_id="515490790930-eajv7nc5pn355hlg5tqree5p40jvc64v.apps.googleusercontent.com"
         data-context="signin"
         data-callback="handleCredentialResponse">
    </div>
    <div class="g_id_signin"
         data-type="standard"
         data-size="large"
         data-theme="outline"
         data-text="signin_with"
         data-shape="rectangular"
         data-width="250">
    </div>
  </div>
</form>