<div class="user-panel" [class.sidebar-collapsed]="isSidebarCollapsed">
  <div class="user-layout">
    <app-sidebar-menu (sidebarToggled)="onSidebarToggle($event)"></app-sidebar-menu>
    <div class="main-content">
      <app-upper-menu></app-upper-menu>
      <div class="content-wrapper">
        <h1>Panel de Usuario</h1>
        <button (click)="createEvent()" class="create-event-btn">Crear Evento</button>
        <app-event-creator *ngIf="showEventCreator" (close)="hideEventCreator()" (eventCreated)="onEventCreated()"></app-event-creator>
        <app-event-list #eventList></app-event-list>
      </div>
    </div>
  </div>
</div>