<div class="modal-overlay" (click)="close.emit()"></div> <!-- Fondo oscuro o borroso -->
<div class="ticket-buy-card">
  <div class="card-header">
    <span class="close-btn" (click)="close.emit()">✖</span>
  </div>
  <div class="card-body">  
    <h2>Comprar entrada para {{ event.name }}</h2>
    <p>{{ event.description }}</p>
    
    <form>
      <div class="form-group">
        <label for="buyerName">Nombre del comprador</label>
        <input type="text" id="buyerName" name="buyerName" [(ngModel)]="buyerName" placeholder="Nombre" required />
      </div>

      <div class="form-group">
        <label for="buyerSurname">Apellidos del comprador</label>
        <input type="text" id="buyerSurname" name="buyerSurname" [(ngModel)]="buyerSurname" placeholder="Apellidos" required />
      </div>

      <div class="form-group">
        <label for="buyerSurname">Email</label>
        <input type="text" id="buyerEmail" name="buyerEmail" [(ngModel)]="buyerEmail" placeholder="Apellidos" required />
      </div>

      <div class="form-group">
        <label for="ticketQuantity">Cantidad de entradas</label>
        <div class="quantity-control">
          <input type="number" name="ticketQuantity" [(ngModel)]="ticketQuantity" id="ticketQuantity" value= 1 min="1" />
        </div>
      </div>

      <button type="button" class="submit-btn" (click)="completePurchase()">Confirmar compra</button>
      <button type="button" class="cancel-btn" (click)="close.emit()">Cancelar</button>
    </form>
  </div>
</div>