<div *ngIf="events.length > 0; else noEvents" class="grid-container">
  <div *ngFor="let event of events" class="event-card">
    <div class="card-content">
      <h2>{{ event.name }}</h2>
      <p>{{ event.description }}</p>
      <p><strong>Fecha:</strong> {{ event.date }}</p>
      <p><strong>Máx. Asistentes:</strong> {{ event.maxAttendees }}</p>
      <p><strong>Precio por Entrada:</strong> {{ event.ticketPrice | currency }}</p>
    </div>
    <button class="preview-button" (click)="openPublicEvent(event)" title="Ver página pública del evento">
      <i class="bi bi-box-arrow-up-right"></i>
    </button>
  </div>
</div>

<ng-template #noEvents>
  <p>No hay eventos disponibles</p>
</ng-template>