<div *ngIf="events.length > 0; else noEvents" class="grid-container">
  <div *ngFor="let event of events" class="event-card">
    <h2>{{ event.name }}</h2>
    <button class="preview-button" (click)="openPublicEvent(event)" title="Ver página pública del evento">
      🔗
    </button>
    <p>{{ event.description }}</p>
    <p><strong>Fecha:</strong> {{ event.date }}</p>
    <p><strong>Máx. Asistentes:</strong> {{ event.maxAttendees }}</p>
    <p><strong>Precio por Entrada:</strong> {{ event.ticketPrice | currency }}</p>
    
  </div>
</div>

<ng-template #noEvents>
  <p>No hay eventos disponibles</p>
</ng-template>